.container__small-card {
  margin-bottom: 15px;
  width: 700px;
}

.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  min-width: 200px;
  margin-right: 20px;
  width: 200px;
}

.small-card__title {
  align-items: center;
  display: flex;
  justify-content: center;
}
.container__small-card__separator {
  margin-top: 10px;
}
