.container__content{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 20px;
  width: 100%;
}

.content__cover > img {
  border: 5px solid rgb(144, 144, 144);
  border-radius: 5px;
  min-width: 300px;
  height: auto;
  width: 300px;
}

.content__description{
  margin-top: 15px;
}

.content__description > p {
  color: rgb(153, 143, 143);
  margin-top: 20px;
}
